
@model IEnumerable<MOCDIntegrations.Models.Permission>

@{
    ViewBag.Title = "Permissions";
}

<h2>Permissions</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PermissionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PermissionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PermissionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PermissionId })
        </td>
    </tr>
}

</table>
